* {
    color: #f5f5f4;
}

#tray,
#pulseaudio,
#network,
#battery,
#custom-bluetooth,
#custom-powerprofile {
    background: none;
    background-color: transparent;
    margin: 0 12px;
}

#waybar {
    background: #1c1917;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px 0 #292524cc;
    border: 1px solid #44403c;
    font-family: 'FiraCode Nerd Font', 'Fira Code', sans-serif;
}

#custom-notifications {
    margin: 0 12px;
}

#custom-ppmenu {
    margin: 0 12px;
}

#custom-hypridle {
    margin: 0 12px;
}

#custom-sep {
    color: #57534e;
    margin: 0;
    padding: 0;
}

#custom-powerprofile.performance {
    color: #ef4444;
}

#custom-powerprofile.balanced {
    color: #eab308;
}

#custom-powerprofile.power-saver {
    color: #22c55e;
}

#battery.charging,
#battery.plugged {
    color: #22c55e;
}

#battery.discharging {
    color: #eab308;
}

#battery.critical:not(.charging):not(.plugged) {
    color: #ef4444;
}